<div class="pokedex-login">
  <h1 class="title">Pokédex Login</h1>

  <div class="pokeball"></div>

  <form (ngSubmit)="login()" class="login-form">
    <label>Entrenador</label>
    <input class="" type="text" [(ngModel)]="username" name="username" placeholder="Ash, Misty..." />

    <label>Contraseña</label>
    <input type="password" [(ngModel)]="password" name="password" placeholder="••••••" />

    <button type="submit" class="btn-login">¡Atrápalos ya!</button>
  </form>
  <form (ngSubmit)="add()" class="login-form">
    <div class="mt-3">
      <button routerLink="/addUsuario" class="btn btn-danger w-100 fw-bold">
        Registrar nuevo entrenador
      </button>
    </div>
  </form>
  <form (ngSubmit)="reenviarVerificacion()" class="login-form">
    <div class="mt-3">
      <button routerLink="/reenviarVerificacion" class="btn btn-danger w-100 fw-bold">
       Verificar cuenta
      </button>
    </div>
  </form>
  <form (ngSubmit)="reenviarRecuperarContra()" class="login-form">
    <div class="mt-3">
      <button routerLink="/recuperarContra" class="btn btn-danger w-100 fw-bold">
       Recuperar contraseña
      </button>
    </div>
  </form>
</div>