<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body class="container">
    <router-outlet class="container">
        <div class="container text-center">

            <div class="container text-center bg-danger rounded-lg shadow-lg" style="font-family: 'Courier New', Courier, monospace">
                <div class="row">
                    <div class="col-3">
                        Nombre del usuario
                    </div>
                    <div class="col-3">
                        Bienvenido a la PokeApi
                    </div>
                    <div class="col-3">
                        <button class="btn btn-warning">Cerrar sesión</button>
                    </div>
                    <div class="col-3">
                        <button class="btn btn-warning">Favoritos</button>
                    </div>
                </div>
            </div>
        </div>

    </router-outlet>
</body>

</html>