<h1 class="titulo-usuarios">Usuarios</h1>

<button (click)="regresar()" class="btn-poke">Regresar</button>

<div class="usuarios-container">
  @for (usuario of usuarios; track usuario.IdUsuario) {

    <div class="usuario-card">
      <div class="usuario-header">
        <span>{{ usuario.UserName }}</span>
        <span>#{{ usuario.IdUsuario }}</span>
      </div>

      <div class="usuario-body">
        <p>
          <strong>Correo:</strong>
          {{ usuario.Correo }}
        </p>

        <p>
          <strong>Rol:</strong>
          {{ usuario.Rol.NombreRol }}
        </p>
      </div>

      <div class="usuario-footer">
        <button class="btn-update">Actualizar</button>
        <button class="btn-delete">Eliminar</button>
      </div>
    </div>

  }
</div>