<body>
  <div class="container mt-2">
    <div class="search-container">
      <div class="d-flex align-items-center flex-wrap mb-3">        
        <div class="col-3">
          <input type="text" class="form-control" placeholder="Buscar por pokemon..." [(ngModel)]="busqueda"
            (input)="filtrarPokemones()">
        </div>
        <div class="col-9">
          <button *ngFor="let tipo of tiposPokemon" class="btn tipo-btn"
            [class.tipo-activo]="tipoSeleccionados.includes(tipo)" (click)="dosTipos(tipo)">
            <img [src]="'assets/types/' + tipo + '.png'" [alt]="tipo" [title]="tipo" width="28">
          </button>
        </div>
      </div>
      <div class="pagination-bar">
        <button (click)="anteriorPagina()" [disabled]="offset === 0" class="btn-nav">Atras</button>
        <div class="page-indicator">
          <span class="current">{{ paginaActual }}</span>
          <span class="separator">/</span>
          <span class="total">{{ totalPaginas }}</span>
        </div>
        <button (click)="siguientePagina()" [disabled]="(offset + limitfuera) >= pokemonesFiltrados.length" class="btn-nav">
          Siguiente
        </button>
      </div>
    </div>
    <div class="row g-3 justify-content-center row-favoritos mb-2">
      @for (pokemon of pokemonesAMostrar; track pokemon.idPokemon) {
      <div class="col-md-4 d-flex">
        <div class="carta-volteada" [class.flipped]="pokemon.flipped">
          <div class="carta-volteada-dentro">
            <div class="carta-volteada-frente">
              <div class="tarjeta-pokedex">
                <div class="marco-pantalla">
                  <div class="datos-cabecera">
                    <span class="nombre">{{ pokemon.name | titlecase }}</span>
                    <span class="numero">no. {{ pokemon.idPokemon }}</span>
                  </div>
                  <div class="visor-pokemon">
                    <img
                      [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + pokemon.idPokemon + '.png'"
                      [alt]="pokemon.name">
                  </div>
                  <div class="controles-inferiores">
                    <div class="genero">
                      <img *ngFor="let types of pokemon.types" [src]="'assets/types/' + types.type.name + '.png'"
                        [alt]="types.type.name" [title]="types.type.name" width="20" class="separacion">
                    </div>

                    @if (pokemonesFavoritos.some(fav => fav.idPokemon === pokemon.idPokemon)) {
                    <button class="bg-warning bg-gradient boton-favorito"
                      (click)="removeFavorito($event, pokemon)">Favoritos</button>
                    }@else{
                    <button class="boton-favorito" (click)="addFavorito($event, pokemon)">Favoritos</button>
                    }

                    <div class="recargar" (click)="toggleFlip(pokemon, $event)" style="cursor: pointer;">↺</div>
                  </div>
                </div>
                <div class="caja-descripcion">
                  <p>{{pokemon.descripcion}}</p>
                </div>
              </div>
            </div>
            <div class="carta-volteada-atras">
              <div class="tarjeta-pokedex">
                <div class="marco-pantalla-atras">
                  <div class="datos-cabecera">
                    <span class="nombre">Info 2</span>
                  </div>
                  <div class="visor-pokemon img">
                    <img
                      [src]="pokemon.imgTemporal || pokemon.gift"
                      [alt]="pokemon.name">
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <button class="boton-favorito" (click)="toggleFlip(pokemon, $event)">VOLVER</button>
                    <div class="d-flex gap-2">
                      <button class="boton-favorito" (click)="reproducirSonido(pokemon)">1</button>
                      <button class="boton-favorito" (click)="cambiarImagen(pokemon, $event)">2</button>
                      <button class="boton-favorito" (click)="cambiarShiny(pokemon)">3</button>
                    </div>
                  </div>
                </div>
                <div class="caja-descripcion">
                  <div class="contenedor-stats">
                    <div class="row">
                      <div class="col-6">
                        <table class="tabla-stats">
                          <tbody>
                            <tr>
                              <td>HP</td>
                              <td class="valor">{{ pokemon.hp }}</td>
                            </tr>
                            <tr>
                              <td>Ataque</td>
                              <td class="valor">{{ pokemon.attack }}</td>
                            </tr>
                            <tr>
                              <td>Defensa</td>
                              <td class="valor">{{pokemon.defense}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="col-6">
                        <table class="tabla-stats">
                          <tbody>
                            <tr>
                              <td>At. Esp.</td>
                              <td class="valor">{{pokemon.specialAttack}}</td>
                            </tr>
                            <tr>
                              <td>Def. Esp.</td>
                              <td class="valor">{{pokemon.specialDefense}}</td>
                            </tr>
                            <tr>
                              <td>Velocidad</td>
                              <td class="valor">{{pokemon.speed}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      }
    </div>

  </div>

  <app-spinner *ngIf="estacargando"></app-spinner>

</body>